.react-tagsinput-tag {
    background-color: #E1F0FF !important;
    border: 1px solid grey !important;
    color: black !important;
    border-radius: 5px;
}
.react-tagsinput{
    border-radius: 5px;
}
.react-tagsinput--focused {
    border-color: #69B3FF !important;
  }
  